<div class="container">
  <pre *ngIf="auth.user$ | async as user">
        <h1> Wellcome {{user.given_name}} </h1>
        <h3 class="d-flex sub-title">We have all this fantastic proposals to watch </h3>
    </pre>
  <div class="container">
    <div class="form-group">
      <label>Filter for release year, movie o serie </label>
      <input
        type="text"
        class="form-control"
        placeholder="Eg. Better Call Saul"
        name="filterMovie"
        [(ngModel)]="filterMovie"
      />
    </div>
    <div>
      <ng-template #noMoviestoShow>
        <div class="alert alert-danger" role="alert">No results</div>
      </ng-template>
      <button (click)="orderByYear()" class="btn btn-success m-2">
        Order by release year
      </button>
      <button
        (click)="orderByTitle()"
        [disabled]="byYear"
        class="btn btn-warning m-2"
      >
        Order by title
      </button>
      <button (click)="showAll()" class="btn btn-primary m-2">
        All Movies
      </button>
      <div *ngIf="byYear">
        <div class="d-flex flex-wrap justify-content-center">
          <div
            *ngFor="let movie of moviesByYear | filter: filterMovie"
            class="d-flex m-2"
          >
            <app-movie-card [movies]="movie"></app-movie-card>
          </div>
        </div>
      </div>
      <div *ngIf="byTitle">
        <div class="d-flex flex-wrap justify-content-center">
          <div
            *ngFor="let movie of moviesByTitle | filter: filterMovie"
            class="d-flex m-2"
          >
            <app-movie-card [movies]="movie"></app-movie-card>
          </div>
        </div>
      </div>
      <div *ngIf="!byTitle && !byYear">
        <div
          *ngIf="(movies | filter: filterMovie).length > 0; else noMoviestoShow"
          class="d-flex flex-wrap justify-content-center"
        >
          <div
            *ngFor="let movie of movies | filter: filterMovie"
            class="d-flex m-2"
          >
            <app-movie-card [movies]="movie"></app-movie-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
